layout {

    focus-ring {
        active-color   "#ffb4a8"
        inactive-color "#210e0b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a8"
        inactive-color "#210e0b"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4a8"
        inactive-color "#930000"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a880"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a8"
        urgent-color "#ffb4ab"
    }
}
